* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Prompt', sans-serif;
}

main {
  width: 100%;
  padding: 0px;
}

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
}

p {
  font-size: 14px;
}